.dataTable{
    padding-top: 10px !important;
}
.dataTables_length select{
    height: 30px;
    width: 60px;
}
.dataTables_filter input[type='search']{
    height: 30px;
    border: 1px solid rgba(120, 130, 140, 0.39);
}
.dataTables_paginate.paging_full_numbers,
.dataTables_info, .dataTables_paginate{
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #13dafe;
    background-color: #13dafe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #13dafe));
    background: -webkit-linear-gradient(top, #13dafe 0%, #13dafe 100%);
    background: -moz-linear-gradient(top, #13dafe 0%, #13dafe 100%);
    background: -ms-linear-gradient(top, #13dafe 0%, #13dafe 100%);
    background: -o-linear-gradient(top, #13dafe 0%, #13dafe 100%);
    background: linear-gradient(to bottom, #13dafe 0%, #13dafe 100%);
}
.table.dataTable thead .sorting:after,
.table.dataTable thead .sorting_asc:after{
    display: none;
}
.group-title{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 12px 10px;
    margin-bottom: 2px;
}
.group-title span{
    margin-left: 7px;
    font-weight: 600;
    color: black;
}

/* Preload MM */
#list_orders{
    position: relative;
}

.preload-container {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;

}

.loading-spinner {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    border: 4px solid  #DFE0E2 !important;
    border-top-color:  #757575 !important; 
    animation: spin 1s linear infinite;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.loading-text {
    color: #0FC44C !important;
    font-weight: bold;
    font-size: 18px;
    width: 267px !important;
    text-align: center;
    animation: blink 4s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
